<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View note</title>
</head>
<style>
    * {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    form {
        position: relative;
        /*left: 40%;*/
        /*!*top: 200px;*!*/
    }
</style>
<body>
<h1>Detail</h1>
<p>
    <a href="/notes">Note list</a>
</p>
<form th:action="@{/notes/view}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td style="font-weight: bold">Title:</td>
            <td th:text="${note.getTitle()}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Type:</td>
            <td th:text="${note.getType().getName()}"></td>
        </tr>
        <tr>
            <td style="font-weight: bold">Content:</td>
            <td th:text="${note.getContent()}"></td>
        </tr>
    </table>
</form>
<br>
<br>
<footer>&copy; 2018 CodeGym</footer>
</body>
</html>